doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title #{title}
        link(href="/css/app.css",rel="stylesheet")
        link(rel="stylesheet",href="/css/font.css")
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        script.
            var _hmt = _hmt || [];
            (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2334e921077280e40e2b0931857c56a0";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
            })();
    body
        aside#sidebar
            img.myPic(src="/img/me.jpg" alt="My Picture")
            address
                ul.contact
                    li.contact_item
                            a(href="http://fifaonlinevr.cn")
                                i.fa.fa-home.fa-fw
                    li.contact_item
                        a(href="mailto:zhang_Janp@163.com")
                            i.fa.fa-envelope.fa-fw
                    li.contact_item
                        a(href="https://github.com/Z-Janp" target="_blank")
                            i.fa.fa-github.fa-fw
            span.about-me 
                a(href="/about") About me
            form.searchBox
                input.searchTxt(type="search",name="search",autocomplete="off")
                input.searchBtn(type="button")
        article#rightSide 
            if article
                h1.art-title #{article.title}
                .art-meta
                    p.art-author 作者:
                        span #{article.author}
                    p.art-updateAt 更新时间:
                        span #{moment(article.meta.updateAt).format('YYYY/MM/DD')}
                section.art-content !{article.content}
                section#comment.art-comment
                    .ds-thread(data-title='#{article.title}',data-thread-key='#{article._id}')
        #back_to_top
            a(href="#") back to top
        #edit
            if article
                a(href="/editor/#{article._id}") edit
            else
                a(href="/editor") edit
        #go_to_comment
            a(href="#comment") comment
        .progress-indicator-2(style="width:0%")
    script(src='/js/article.js')
    script(src='http://static.duoshuo.com/embed.js')