doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
        script(src="/libs/jquery/dist/jquery.min.js")
        link(rel="stylesheet" href="/css/music.css")
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
        script.
            var _hmt = _hmt || [];
            (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2334e921077280e40e2b0931857c56a0";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
            })();
    body
        .container.play-container
            .col-sm-6.cont
                #player
                    .pic.cont
                        img.picimg(alt="歌曲图片")
                        span.cir
                    .tag
                        p.song-name
                        p.art-name
                    .lrc
                    .process
                        span.curTime 00:00
                        .probg
                            .rdy
                            .cur
                                a.pro-handle
                        span.tolTime
                    .control
                        .mode
                            a.icon.icon-loop(href="javascript:;",hidefocus="true",data-action="mode",title="循环")
                        .btns
                            a.prev.icon(href="javascript:;",hidefocus="true",data-action="prev",title="上一首")
                            a.ply.pause.icon(href="javascript:;",hidefocus="true",data-action="ply",title="播放/暂停")
                            a.next.icon(href="javascript:;",hidefocus="true",data-action="nest",title="下一首")
                        .list
                            a.icon.icon-list(href="javascript:;",hidefocus="true",data-action="hide",title="播放列表")
                    audio#audio(autoplay="autoplay")
                .songlist
                    if song
                        p.songtol 播放列表(#{song.length})
                        #wrapper
                            ul.songcont
                                - var i = 0;
                                each item in song
                                    a.react(data-index=i++,href="javascript:;")
                                        li
                                            div
                                            span #{item.songName}&nbsp;
                                            span.list-art-name #{item.artName}
                        p.clolist 关闭
    script(src="/js/iscroll.js")
    script(src="/js/music.js")